@import "./../theme/mixins.scss";
.ba-homePage {
  @include flexContainer(center, center);
  background-color: #edb820;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  @media (max-width: 600px) {
    .sideImage {
      display: none;
    }
    .landing {
      width: 100vw;
    }
  }
  @media (min-width: 601px) {
    .sideImage {
      width: 50vw;
      img {
        background-size: cover;
        height: 100vh;
        max-width: 50vw;
        object-fit: cover;
      }
    }
    .landing {
      width: 50vw;
    }
  }
  .landing {
    @include flexContainer(center, center);
    flex-direction: column;
  }
  @media (min-height: 500px) {
    .author {
      bottom: 10px;
      color: white;
      font-size: 15px;
      position: absolute;
    }
  }
  @media (max-height: 499px) {
    .author,
    .timer {
      display: none;
    }
  }
}
